body {
    margin: 0;
    padding: 0;
    background: #4f555b;
}
  
.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: minmax(120px, auto) repeat(5, 70px);
}
  
.calculator>button {
    cursor: pointer;
    font-size: 2rem;
    border: 2px solid #4f555b;
    border-radius: 5px;
    outline:none;
    box-shadow: 0px 0 15px #4f555b;
}
  
.calculator>button:hover {
    opacity: 0.85;
}
  
.calculator>button:active {
    opacity: 0.55;
}
  
.result{
    grid-column: 1/-1;
    background-color: rgba(0,0,0,0.55);
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;  
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
  
.previos-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}
  
.current-operand{
    color: white;
    font-size: 2.5rem;
}
  
.equals {
    background-color: DeepSkyBlue;
}
  
.operation,.delete,.percent,.change-negative {
    background-color: Silver;
}
  
.plus {
    background-color: PaleGreen;
}
  
.all-clear {
    background-color: red;
}